* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4aa33b;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  color: #fff;
}

a {
  color: #fff;
}

#img_div {
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  overflow: hidden;
}

#texto {
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  text-align: justify;
}

#resposta {
  text-decoration: none;
  max-width: 90%;
}

#resposta:hover {
  text-decoration: underline;
}

h2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

#form {
  display: none;
}

div {
  opacity: 0;
}